name: Check duplicate student IDs

on:
  #push:
    #branches:
      #- main
  pull_request:
    branches:
      - main

jobs:
  check-for-duplicate-student-ids:
    name: Check for Duplicate Student IDs
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        ports: 
          - 5432:5432
        env:  
          POSTGRES_DB: ${{ secrets.DB_NAME }}
          POSTGRES_USER: ${{ secrets.DB_USER }}
          POSTGRES_PASSWORD: ${{ secrets.DB_PASS }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
    env:
      PGDATABASE: school
      PGUSER: postgres
      PGPASSWORD: qwerty
      PGHOST: localhost
      PGPORT: 5432

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest psycopg2-binary faker

      - name: Create table and generate data
        run: |
          python python/generate_students_data.py

      - name: Run duplicate check test
        run: |
          pytest -v python/test_no_duplicate_student_ids.py
